.container {
  padding-top: 60px;
  padding-left: 24px;
  padding-right: 75px;
  background-color: #ffffff;
}
.sec_title {
  margin-bottom: 28px;
  color: #466fb4;
  font-size: 16px;
  font-weight: 600;
}
.from {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.label_title {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #152536;
}
.course_input {
  width: 431px;
  background-color: #ffffff;
  padding: 9px 0px 9px 15px;
  color: #6c757d;
  border: 1px solid #ced4da;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.label_input {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.check_box {
  display: flex;
  gap: 11.5px;
}
.check_type {
  display: flex;
  gap: 10px;
  font-size: 16px;
}
.section_date {
  width: 172px;
  padding: 9px 0px 9px 15px;
  color: #6c757d;
  border: 1px solid #ced4da;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.start_end_time {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.main_span {
  display: flex;
  align-items: center;
  margin-top: 32px;
}
.span {
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #000000;
}
